body {
    font-family: Arial, sans-serif;
    background: #17f2d1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-card {
    background: #ffffff;
    width: 400px;
    padding: 10px;
    text-align: center;
    border-radius: 18px;
    box-shadow: 20px 35px 10px rgba(39, 85, 88, 0.9);
}

.profile-img img {
    width: 120px;
    height: 120px;
    border-radius: 40%;
    border: 4px solid #17f2d1;;
}

.name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: #000000;
}

.role {
    color: #292828;
}

.description {
    color: #555;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-btn {
    text-decoration: none;
    background: #3498db;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: all 0.3 ease;
}

.social-btn:hover {
    background: #1eb1a2;
}
